.wrapper {

}


.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

.hhTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

.hh {
    grid-column: 1 / span 2;
}

.tag {
    margin-top: 8px;
}

.skillsTitle {
    margin: 25px 0 15px 0;
}

.advantagesTitle {
    margin: 40px 0 25px 0;
}

.seoText {
    font-weight: 400;
    font-size: var(--font-size--m);
    line-height: 29px;
    margin-top: 30px;

}

.h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
}

.h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;

}

.h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 0;

}