.star {
    width: 25px;
    height: 25px;
    padding: 0 3px;
}

.field {
    fill: var(--primary);
    cursor: pointer;
}

.noField {
    fill: #E2E2E2;
}

.ratingWrapper {
    position: relative;
}

.errorMessage {
    position: absolute;
    bottom: -16px;
    left: 0;

    color: var(--red);
}

.errorStars {
    fill: var(--red);
}

