.header {
    display: grid;
    grid-template-columns: 1fr 40px;
    margin: 15px;
    gap: 15px
}

.motionMenu {
    padding: 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background: #f5f6f8;
}

.close {
    position: fixed;
    top: 15px;
    right: 15px;
}