.sortIcon {
    display: none;
}

.active {
    color: var(--primary);
}

.active .sortIcon {
    display: inline-block;
    margin-right: 8px;

}

.sort span {
    cursor: pointer;
    transition: all 0.6s;
}

.sort {
    transition: all 0.6s;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.sort span:not(.active) {
    grid-template-columns: 1fr;
}