.sortIcon {
    display: none;
}

.button {
    font-family: var(--font-family);
    font-size: var(--font-size--m);
    cursor: pointer;
    transition: all 0.6s;
    border: none;
    background: transparent;
    padding: 10px;
}

.active {
    color: var(--primary);
}

.active .sortIcon {
    display: inline-block;
    margin-right: 8px;

}


.sort {
    transition: all 0.6s;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.sort button:not(.active) {
    grid-template-columns: 1fr;
}

